<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="Hibai Unzueta">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i|IBM+Plex+Sans:300,600" rel="stylesheet">
  </head>
  <body>
    {{ content }}
  </body>
</html>
